.home {
    display: flex;

    &__navBar {
        width: 8vw;
        background-color: #18191d;

        &__item {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid rgba(240, 248, 255, 0.479);
            color: aliceblue;
        }
    }
}