

.list {
    height: 100vh;
    width: 20vw;
    background-color: #282e33;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);

}

.card {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(240, 248, 255, 0.479);
    color: aliceblue;    
    
    &__username {
        font-weight: bold;
    }

    &__lastMessage {
        font-size: 12px;
    }

    &__proifleImg {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &__content {
        margin-left: 10px;
    }
}
